.footer {
    width: 100%;
    height: 100px;
    background: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    font-size: xx-large;
    color: #F56600;
}

.socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
}

.footer a {
    color: #F56600;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

@media only screen and (max-width: 600px) {
    .footer svg {
    font-size: 50px;
    }
}
footer {
    text-align: center;
    margin-top: 20px;
    border-top: var(--third-color) solid 3px;
}